@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/Roboto-Light.eot');
    src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Light.woff2') format('woff2'), url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.ttf') format('truetype'), url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf') format('truetype'), url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aku Kamu';
    src: url('../fonts/AkuKamu.eot');
    src: url('../fonts/AkuKamu.eot?#iefix') format('embedded-opentype'), url('../fonts/AkuKamu.woff2') format('woff2'), url('../fonts/AkuKamu.woff') format('woff'), url('../fonts/AkuKamu.ttf') format('truetype'), url('../fonts/AkuKamu.svg#Aku&Kamu') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1260px;
    }
}

.wrap-content {
    max-width: 1580px;
    margin: 0 auto;
}

#page-home .section_3 .services .wrap_btn-slick {
    display: none;
}

@import "component/mixin";
@import "component/header";
@import "page/home";
@import "page/services";
@import "page/gallery";
@import "page/contact";
@import "component/footer";