#page-contact {
    margin: 100px 0;
    .wrap__form {
        padding: 0 70px;
        .form__content {
            display: flex;
            justify-content: space-between;
            .form__left,
            .form__right {
                width: 48%;
            }
            .form--input {
                margin-bottom: 10px;
                input[type="text"],
                input[type="tel"],
                input[type="email"],
                textarea,
                select {
                    width: 100%;
                    background: #ffffff;
                    border: 1px solid #d7d7d7;
                    border-radius: 0;
                    resize: none;
                    outline: none;
                    font-size: 18px;
                    font-family: "Roboto Light";
                    color: #838383;
                    line-height: 3;
                    padding-left: 15px;
                    min-height: 58px;
                }
                textarea {
                    height: 105px;
                }
                select {
                    min-height: 58px;
                }
                input::placeholder,
                textarea::placeholder {
                    font-size: 18px;
                    font-family: "Roboto Light";
                    color: #838383;
                    line-height: 3;
                    opacity: 1;
                    ;
                }
            }
        }
        .form__btn {
            display: flex;
            justify-content: center;
            .btn_submit {
                background: #252525;
                padding: 15px 88px 15px 35px;
                margin-top: 40px;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                &:before {
                    content: '';
                    border-bottom: 70px solid #f6851f;
                    border-left: 25px solid transparent;
                    height: 0;
                    width: 75px;
                    top: -4%;
                    right: -10px;
                    position: absolute;
                }
                &:after {
                    content: '';
                    width: 20px;
                    height: 14px;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 14px;
                    background: url(../images/next-services.png) no-repeat;
                    position: absolute;
                }
                input[type="submit"] {
                    background: none;
                    border: 0;
                    border-radius: 0;
                    font-size: 19px;
                    font-family: "Roboto Bold";
                    color: #ffffff;
                    font-weight: bold;
                    text-transform: uppercase;
                    line-height: 1.632;
                }
            }
        }
    }
}